<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Dojo</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
            {% for ninja in dojo.ninjas %}
            <tr>
                <th scope="row"></th>
                <td>{{ ninja.first_name }}</td>
                <td>{{ ninja.last_name }}</td>
                <td>{{ ninja.age}}</td>
            </tr>
            {% endfor %}
        </tbody>
    <a class=" href="/">Return to Home</a>
</body>
</html>